*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.banner{
    width: 100%;
    height: 100vh;
    background-color: #1f1f65;
    background-size: 100%;
    background-position: center;
}

.naviationbar{
    color:  #F2EBE3;
    width: 96%;
    margin-left: 20px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials{
    color: #F2EBE3;
    size: 100%;
}

.naviationbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
}

.title{
    color: #F2EBE3;
    font-size: 100px;
    text-align: right;
    margin-right: 30px;
    margin-top: 12%;
}

.subtitle{
    color: #F2EBE3;
    margin-right: 30px;
    margin-top: 30px;
    text-align: right;
}

.about{
    background-color: #F2EBE3;
    text-align: center;
    margin-top: 400px;
    margin-bottom: 100px;
    padding: 30px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 30px; 
}

th{
    color: #1f1f65;
}

body{
    background-color: #1f1f65;
}

.icons i {
    font-size: 3em; 
}

.educationexperience{
    background-color: #F2EBE3;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 30px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

.logo{
    width: 200px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.table2{
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 20px; 
    padding-bottom: 10px;
}

.table3{
    text-align: center;
    margin-top: 150px;
    padding: 30px;
    justify-content: space-between;
    color: #F2EBE3;
    font-size: 40px;
}

.contact{
    color: #F2EBE3;
    font-size: 15px;
    margin-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    color: #F2EBE3; 
    background-color: #1f1f65; 
    border: 1px solid #F2EBE3; 
    border-radius: 5px; 
    text-align: center; 
    line-height: 50px; 
    cursor: pointer; 
    font-family: sans-serif; 
}

.accordion-item {
    border: 1px solid lightgrey;
    border-radius: 10px !important;
    margin-bottom: 10px;
}

.accordion-body{
    text-align: center;
}

.accordion-button {
    border-radius: 10px !important;
}

.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.accordion-collapse {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.WaterPoloImage{
    width: 1000px;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:visited {
    color: inherit; 
}